<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745160769156-1ov6pk329slrl70prt2nc2mjmghhikft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745160769156-1ov6pk329slrl70prt2nc2mjmghhikft</string>
	<key>API_KEY</key>
	<string>AIzaSyCAMEKoGvf2iZXiMX3JWZ11Yuioa93Ss_o</string>
	<key>GCM_SENDER_ID</key>
	<string>745160769156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asia.zeemart.supplier</string>
	<key>PROJECT_ID</key>
	<string>zeemart-supplier</string>
	<key>STORAGE_BUCKET</key>
	<string>zeemart-supplier.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745160769156:ios:5d10d7b953489bcf444cd1</string>
</dict>
</plist>